@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

.light-theme {
    --primary-color: #333;
    --background-color: #f1f1f1;
}

.dark-theme {
    --primary-color: #fff;
    --background-color: #222;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    color: var(--primary-color);
}

body {
    background: var(--background-color);
}

.container {
    width: 100%;
    max-width: 1170px;
    margin: auto;
    padding: 0 15px;
}

.title {
    text-align: center;
    text-transform: uppercase;
    font-size: 36px;
    font-weight: 600;
    margin-bottom: 30px;
}

.theme-switch {
    position: fixed;
    right: 0;
    top: 0;
    padding: 15px;
    background: var(--background-color);
    cursor: pointer;
}

#theme {
}

/*-----------------------------
 * NAVIGATION & HEADER STYLE
 *-------------------------------*/

.header {
    position : absolute;
    left     : 15px;
    right    : 15px;
    top      : 40px;
    z-index  : 9;
    }

/*Logo*/
.navbar-brand {
    padding : 0;
    height  : auto;
    margin  : 5px 0 !important;
    }

@media (max-width : 768px) {
    .navbar-brand {
        width : 200px;
        }

    .navbar-brand img {
        max-width : 100%;
        height    : auto;
        }
    }

/*navbar*/

.navbar {
    border-radius  : 0;
    padding        : 30px 0;
    background     : transparent;
    margin         : 0;
    font-size      : 15px;
    text-transform : uppercase;
    }

@media (max-width : 768px) {
    .navbar {
        padding : 10px;
        }
    }

/*navbar toggle*/
.navbar-toggle {
    margin        : 5px 0;
    padding       : 11px 10px;
    background    : transparent;
    }

.navbar-toggle:hover {
    color: #fff;
    }

.navbar-toggle .icon-bar {
    background: #fff;
    }

/*Navigation Style*/

.main-menu .navbar-right {
    margin-right : -15px;
    }

.main-menu .nav li a {
    color       : #ffffff;
    font-weight : 500;
    padding     : 15px 0 15px 30px;
    }

.main-menu .nav li a:hover,
.main-menu .nav li.active a {
    color      : #fd367e;
    background : transparent;
    }

.main-menu .nav li a:focus {
    background : transparent;
    }

@media (max-width : 991px) {
    .main-menu .nav li a {
        padding-left : 15px;
        }
    }

@media (max-width : 768px) {
    .main-menu .nav li {
        text-align : center;
        }

    .main-menu .nav li a {
        padding : 5px 0;
        color: #0e1555;
        }

    .navbar-collapse {
        margin-top : 10px;
        background: #fff;
        }
    }
